* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


header{
  width: 100%;
  background-color: #FF00FF;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;

}
header> :first-child{
  margin-right: auto;
}

.header-box{
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #FFDDFF;

}
.main{
  display: flex;
  justify-content: center;

}
.main-saidebar{
  width: 300px;
  background-color: #CCFFCC;
}
.main-contents{
 max-width: 700px;
 padding: 20px;
 background-color: #008000;
 flex-grow: 1;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.main-box{
  width: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FFFF66;

}

footer{
  width: 100%;
  padding: 20px;
  background-color: #5D99FF;
   display: flex;
   flex-wrap: wrap;
  justify-content: center;
}

.footer-box{
  max-width:600px;
  width:45%;
  height:40px;
  background-color:#C2EEFF;
  margin:10px;
}
